body {
  position: relative;
  overflow: hidden;
}

[data-area=banner] {
  position: absolute;
  inset: 0;
  container-type: size;
}
[data-area=banner] * {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

.banner__wrapper {
  position: absolute;
  inset: 0;
  margin: auto;
}

.vert .banner__wrapper {
  width: min(100cqw, 56.25cqh) !important;
  height: min(100cqh, 177.78cqw) !important;
}

.land .banner__wrapper {
  width: min(100cqw, 177.78cqh) !important;
  height: min(100cqh, 56.25cqw) !important;
}

@supports not (container-type: size) {
  .vert .banner__wrapper {
    width: min(100vw, 56.25vh);
    height: min(100vh, 177.78vw);
  }
  .land .banner__wrapper {
    width: min(100vw, 177.78vh);
    height: min(100vh, 56.25vw);
  }
}
.bg {
  background-size: cover;
  background-position: center;
}