<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Commerce ads banner</title>
    <meta name="ad.labels" content="commerce_ads">
    <meta name="ad.optout" content="adlook" >
    <meta name="ad.size" content="width=0,height=0">

    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/style.css" />

    <!-- add SPECIAL_OFFER_ID to variables -->
    <script>
        var clickTag = '';
        var clickSpecialOffer1Tag = '';
        var clickSpecialOffer2Tag = '';
        var clickSpecialOffer3Tag = '';
    </script>

    <script>
        var adlView = {
            MIN_RATIO: 0.5,
            MIN_TIME: 1000
        }
    </script>
</head>

<body class="">
    <div data-area="banner">
         <a class="banner_click_area" data-action="default-click" aria-label="Open default landing page"></a>
        <div class="banner__wrap">
        <!-- Banner HTML structure -->
            
        <div class="logo"></div>

            <button class="banner__btn banner__btn--1" type="button" data-action="special-offer-1" aria-label="Open special offer 1"><span class="banner__btn-logo"></span></button>
            <button class="banner__btn banner__btn--2" type="button" data-action="special-offer-2" aria-label="Open special offer 2"><span class="banner__btn-logo"></span></button>
            <button class="banner__btn banner__btn--3" type="button" data-action="special-offer-3" aria-label="Open special offer 3"><span class="banner__btn-logo"></span></button>

            <!-- Banner HTML structure -->
        </div>
    </div>
   

    <script src="./js/gsap.min.js"></script>
    <script src="./js/banner.js"></script>
    <script src="./js/extra.js"></script>
</body>

</html>
