<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Custom made</title>
    <meta name="ad.labels" content="custom_made">
    <meta name="ad.optout" content="adlook" >
    <meta name="ad.size" content="width=0,height=0">

    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/style.css" />

    <script>
        var clickTag = '';
    </script>

    <script>
        var adlView = {
            MIN_RATIO: 0.5,
            MIN_TIME: 1000
        }
    </script>
</head>

<body>
    <div data-area="banner">
        <div class="banner_click_area" data-action="click"></div>
        <div class="banner__wrap">
            <!-- Banner HTML structure -->


            <!-- Banner HTML structure -->
        </div>
    </div>

    <script src="./js/gsap.min.js"></script>
    <script src="./js/banner.js"></script>
    <script src="./js/extra.js"></script>
</body>

</html>
