$sizes: (
  "300x600",
  "320x480",
  "160x600",
  "336x280",
  "300x250",
  "970x250",
  "970x90",
  "728x90"
);

// set wrapper size
@each $size in $sizes {
  $x-index: str-index($size, "x");

  $width: str-slice($size, 1, $x-index - 1);
  $height: str-slice($size, $x-index + 1);

  .b#{$size} {
    width: #{$width}px;
    height: #{$height}px;
  }
}

// set image for each size
@each $size in $sizes {
  .b#{$size} {
    .bg {
      background-image: url("../images/bg/#{$size}.webp");
    }
    // .overlay {
    //   background-image: url("../images/overlay/#{$size}.png");
    // }
  }
}
.overlay {
  position: absolute;
  z-index: 99;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: contain;
  inset: 0;
}

.bg {
  position: absolute;
  inset: 0;
}

.b300x600 {
}
