$sizes: (
  "300x600",
  "320x480",
  "160x600",
  "336x280",
  "300x250",
  "970x250",
  "970x90",
  "728x90"
);
// set wrapper size
@each $size in $sizes {
  $x-index: str-index($size, "x");

  $width: str-slice($size, 1, $x-index - 1);
  $height: str-slice($size, $x-index + 1);

  .b#{$size} {
    width: #{$width}px;
    height: #{$height}px;
  }
}

// set image for each size
@each $size in $sizes {
  .b#{$size} {
    .bg {
      position: absolute;
      inset: 0;
      background-image: url("../images/bg/#{$size}.webp");
    }

    .overlay {
      position: absolute;
      inset: 0;
      opacity: 0.5;
      z-index: 99;
      pointer-events: none;
      background-image: url("../images/overlay/#{$size}_1.png");
    }
  }
}

.banner__btn {
  position: absolute;
  background: #fff;
  border: none;
  cursor: pointer;
  pointer-events: all;
  transition: background-color 0.2s ease-in-out;

  &-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &--1 .banner__btn-logo {
    background-image: url("../images/logo-1.webp");
  }

  &--2 .banner__btn-logo {
    background-image: url("../images/logo-2.webp");
  }

  &--3 .banner__btn-logo {
    background-image: url("../images/logo-3.webp");
  }

  &.active,
  &:hover {
    background: red;
  }
}

.logo {
  position: absolute;
  background-image: url("../images/logo.webp");
}

.b300x600 {
}
